.url {
	width:350px;
	white-space:nowrap;
	position:relative;
}
.url strong {
	display:block;
	overflow:hidden;
	width:350px;
	text-indent:10px;
	text-overflow:ellipsis;
	font-weight:normal;
}
.url strong em {
	color:#888;
}

.container i {
	position:absolute;
	left:2px;
	font-size:10px;
	top:11px;
}

.container .url a {
	display:none;
	white-space:nowrap;
	cursor:pointer;
	background-color:#f5f5f5;
	font-weight:bold;
	z-index:5;
	left:12px;
	top:0;
	padding:5px;
}
.container .url:hover a {
	display:block;
	position:absolute;
	color:#428bca !important;
	font-weight:normal;
}


.inside div {
	background-color:#fff;
	padding:20px 10px 5px;
}
.inside div h3 {
	text-indent:15px;
}
.inside div h3:first-child {
	margin-top:0;
}

.inside dd {
	word-wrap: break-word;
	word-break:break-all;
}

.inside .content pre,
.inside .content {
	width:100%;
	overflow:hidden;
	display:block;
	word-wrap: break-word;
	word-break:break-all;
}






/*.container > .row {
	background-color:#DDD;
	margin-bottom:3px;
	font-size:12px;
}
.container > .row:hover {
	background-color:#CCC;
}
.container .url {
	position:relative;
}

.container .url strong {
	white-space:nowrap;
	display:block;
	width:100%;
	overflow:hidden;
}
.container .url strong em {
	font-weight:normal;
}

.container .size {
	text-align:right;
}



.container .type {
	white-space:nowrap;
}

.inside {
	background-color:#fff;
	display:none;
}

.opened .inside {
	display:block;
}*/




	/*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAcCAMAAACEVGUKAAAAbFBMVEX///94mLUAAACwwtP9/fv8/Pv39/XBuKf39/T////39vPx8Ov29vT19fHf29L8/Prw8Ozt7efq6ePj4Nnb1szk4dnc2M/Y08nW0cbSzMDPyLvSzL/Gvq7CuKjl4drAt6bDuqry8u7s6+bX0semetVPAAAAAXRSTlMAQObYZgAAAFhJREFUeF69jjcOgDAQwHKXSu29l///kUORIgay4smTZcbBwhkEFmAghUCZhWRKGYyjlSzBh5TsyAssq5qsaTvsh5Fsmhettx1evR/w3gt3bz7uT3d/+e5v0RsFrMjXLGkAAAAASUVORK5CYII=') 4px 6px no-repeat;*/
