.container, .container li {
	list-style-type:none;
}
.container li,
.container li strong {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAcCAMAAACEVGUKAAAAbFBMVEX///94mLUAAACwwtP9/fv8/Pv39/XBuKf39/T////39vPx8Ov29vT19fHf29L8/Prw8Ozt7efq6ePj4Nnb1szk4dnc2M/Y08nW0cbSzMDPyLvSzL/Gvq7CuKjl4drAt6bDuqry8u7s6+bX0semetVPAAAAAXRSTlMAQObYZgAAAFhJREFUeF69jjcOgDAQwHKXSu29l///kUORIgay4smTZcbBwhkEFmAghUCZhWRKGYyjlSzBh5TsyAssq5qsaTvsh5Fsmhettx1evR/w3gt3bz7uT3d/+e5v0RsFrMjXLGkAAAAASUVORK5CYII=') 4px 6px no-repeat;
}
.container li {
	clear:both;
	background-color:#DDD;
	text-indent:17px;
	margin-bottom:3px;
	cursor:pointer;
	position:relative;
}
.container a {
	color:#000;
	font-weight:bold;
	float:left;
	white-space:nowrap;
	width:300px;
	overflow:hidden;
}
.container li:hover strong {
	display:block;
}
.container li:hover a {
	visibility:hidden;
}

.container li strong {
	display:none;
	color:#00F;
	text-decoration:underline;
	position:absolute;
	white-space:nowrap;
	background-color:#CCC;
	width:100%;
}


.container span.status {
	float:left;
	width:80px;
	background-color:#CCC;
	text-align:center;
	text-indent:0;
}

.container span.size {
	float:left;
	width:100px;
	text-align:right;
	text-indent:0;
}



.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}