.url {
	width:350px;
	white-space:nowrap;
	position:relative;
}
.url strong {
	display:block;
	overflow:hidden;
	width:350px;
	text-indent:10px;
	text-overflow:ellipsis;
	font-weight:normal;
}
.url strong em {
	color:#888;
}

.url strong strong {
	font-weight:bold;
	display:inline;
}

.container i {
	position:absolute;
	left:3px;
	font-size:10px;
	top:9px;
}

.container .url a {
	display:none;
	white-space:nowrap;
	cursor:pointer;
	background-color:#f5f5f5;
	font-weight:bold;
	z-index:5;
	left:12px;
	top:0;
	padding:5px;
}
.container .url:hover a {
	display:block;
	position:absolute;
	color:#428bca !important;
	font-weight:normal;
}

.container .status strong {
	color:#d9534f;
}
.container .size {
	text-align:right;
	width:90px;
}
.container .size em {
	color:#999;
}
.container .tempo {
	width:300px;
}

.inside div {
	background-color:#fff;
	padding:20px 10px 5px;
	border:1px solid #ddd;
	border-top:0;
}
.inside div dl {
	padding-left:15px;
}
.inside div h3:first-child {
	margin-top:0;
}

.inside dd {
	word-wrap: break-word;
	word-break:break-all;
}

.inside .content pre,
.inside .content {
	width:100%;
	display:block;
	word-wrap: break-word;
	word-break:break-all;
}
.inside .content {overflow:hidden}

.progress {margin-bottom:0;}

.progress-bar-secondary {
  background-color:#B45CB8;
}
.progress-bar-last {
	background-color:#B7B7B7;
}
.progress-bar-space {
	background:transparent;
}

.bg-secondary {
	background-color:#B45CB8;
	color:#FFF;
}
.bg-last {
	background-color:#B7B7B7;
}
.popover {
	max-width:300px;
}
.popover p {
	padding:5px;
	white-space:nowrap;
	width:270px;
}
.popover p strong {
	float:left;
}
.popover p em {
	float:right;
}

.popover .start-time strong,
.popover .start-time em {
	text-decoration:underline;
}

